<!-- views/partials/navbar.ejs -->
<header>
  <!-- Image and text -->
  <nav class="navbar navbar-light bg-transparent">
    <a class="navbar-brand" href="/">
      <img src="https://logo-logos.com/wp-content/uploads/2016/10/USPS_logo.png" width="60" height="40"
        class="d-inline-block align-top" alt="">
      USPS
    </a>
  </nav>
</header>